body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #272c54;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
}

h2 {
  color: #272c54;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #272c54;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}
