body {
  font-family: "Open Sans", sans-serif;
  background-color: #513b3c;
  color: #b7b5b3;
  margin: 0;
  padding: 0;
}

header {
  background-color: #355834;
  color: #b7b5b3;
  padding: 20px;
  text-align: center;
  font-family: "Bebe Neue", static;
}

h1,
h2,
h3 {
  font-family: "Bebe Neue", static;
  font-style: italic;
  text-decoration: solid;
}

h1 {
  color: #fff;
}

h2,
h3 {
  color: #006992;
}

footer {
  background-color: #513b3c;
  color: #b7b5b3;
  text-align: center;
  padding: 10px 0;
}
