
@media (min-width: 37.5em){

    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    img {
        height: auto;
        width: 250px;
        padding: 25px;
    }
    header{
        background-color: teal;
        text-align: center;

    }
    #menu {
        display:none;
    
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: left;
        font-size: large;
        
    }
    nav {
        font-weight: 700;
        background-color: teal;
        text-align: center;
        padding: 2rem;
    }
    .navigation a {
        display:inline-block;
    }
    .card{
        column-span: 1;
    }
    nav.hover{
        background-color: blueviolet;
        
        border:color(from color srgb r g b);
    }
    .overlay {
        position: absolute;
        top: 3rem;
        left: 10rem; 
        padding: 1.5rem;
        font-size: 5rem;

    
    }
    #courseWork {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        
    }
    }
